* {
    font-family: 'Rajdhani', sans-serif;
}

body{
    background-color: #ececec;
}

/* CUSTOM HEADER */
.bg-img-custom{
    width: 100%;
    background: linear-gradient(to bottom ,rgb(255,255,255), rgb(0,0,0,0)), url(./media/mountains2.png),url(./media/switzerland-862870_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


h1{
    font-family: 'Nova Square', cursive;
    letter-spacing: 60px;
    color: darkred;
}


.p-custom::before{
    content: '"';
    font-size: 40px;
    color: darkred;
    font-style: italic;
    
    
}

.p-custom::after{
    content: '"';
    font-size: 40px;
    color: darkred;
    font-style: italic;
}


/* SEZIONE ICONE */

.icon{
    color: darkred;
    font-size: 25px;
}

.bb-custom{
    border-bottom: 4px solid darkred;
    margin-bottom: 25px;
    position: relative;
}

.icon-circle::before{
    content:'';
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid darkred;
    border-radius: 50%;
    position: absolute;
    bottom: -12px;
    left: 47%;
}

/* SEZIONE PARAGRAFI */

.title{
    color: darkred;
    
}


/* SEZIONE BUTTON */

.bg-image-button{
    width: 100%;
    height: 60vh;
    background-image: url(./media/trees2.png);
    background-size: cover;
    background-position: center;
}

/* SEZIONE TIMELINE */

.timeline{
    width: 50%;
    border-left: 4px solid darkred;
    padding-left: 20px;
    margin-left: 20px;
    position: relative;
}

h4::before{
    content:'';
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid darkred;
    border-radius: 50%;
    position: absolute;
    left: -11px;
}


.bg-timeline{
    background-image: url(./media/single.png);
    background-position-y: bottom;
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: 450px;
}


/* SEZIONE OUR TEAM */


.bigcircle{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid darkred;
}

.midcircle{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-image: url(./media/landscape-975091_1920.jpg);
    background-size: cover;
    position: absolute;
    top: 8px;
    left: 8px;

}

.social{
    color: darkred;
    margin-bottom: 25px;
}

/* SEZIONE OUR BENEFIT */

h2{
    font-family: 'Nova Square', cursive;
}

.bigcircleBene{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid darkred;
}

.midcircleBene{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-image: url(./media/fog.jpg);
    background-size: cover;
    position: absolute;
    top: 8px;
    left: 8px;

}

.bigcircleBene2{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid darkred;
    margin-bottom: 15px;
}

.midcircleBene2{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-image: url(./media/mountain-547363_1920.jpg);
    background-size: cover;
    position: absolute;
    top: 8px;
    left: 8px;

}

/* FOOTER */

.bg-footer{
    background-color: darkred;
}





/* CSS */
.button-5 {
    align-items: center;
    background-color: darkred;
    border: 1px solid transparent;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    min-height: 3rem;
    padding: 0px 60px;
    transition: 0.8s;
}

.button-5:hover,
.button-5:focus {
    background-color: #322f2e;
}

.button-5:hover {
    transform: translateY(-1px);
}

.button-5:active {
    background-color: #c85000;
    transform: translateY(0);
}