* {
    font-family: 'Rajdhani', sans-serif;
}
    
    
    /* CUSTOM HEADER */
    .bg-img-custom{
        width: 100%;
        background: linear-gradient(to bottom ,rgb(255,255,255), rgb(0,0,0,0)), url(./media/mountains.png),url(./media/switzerland-862870_1920.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    
    h1{
        font-family: 'Nova Square', cursive;
        font-size: 80px; 
        letter-spacing: 60px;
        color: darkred;
    }


    .p-custom::before{
        content: '"';
        font-size: 40px;
        color: darkred;
        font-style: italic;
        
       
     }

    .p-custom::after{
        content: '"';
        font-size: 40px;
        color: darkred;
        font-style: italic;
    }